.mapContainer {
  /* position: absolute;
  /* top: 0; */
  /* right: 0;
  left: 0;
  bottom: 0; */
  height: 61vh
  }

.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 50;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
  }

.marker {
  border: none;
  cursor: pointer;
  height: 56px;
  width: 56px;
  background-image: url(./img/marker2.png);
  background-color: rgba(0, 0, 0, 0);
}
.destination_marker {
  border: none;
  cursor: pointer;
  height: 56px;
  width: 56px;
  background-image: url(./img/marker3.png);
  background-color: rgba(0, 0, 0, 0);
}